name: Specs

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest
    
    container:
      image: crystallang/crystal
    
    steps:
    - uses: actions/checkout@v1
    - name: Install dependencies
      run: shards install
    - name: Check formatting
      run: crystal tool format --check
    - name: Run tests
      run: crystal spec
